{{ block content }}

<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
    }

    .top-block {
        height: 12.5%;
        background-color: #f0f0f0;
        text-align: center;
        padding: 10px;
    }

    .main-content {
        display: flex;
        height: 87.5%;
    }

    .left-block, .right-block {
        padding: 10px;
        background-color: #e0e0e0;
        display: flex;
        flex-direction: column;
    }

    .left-block {
        flex: 2;
    }

    .right-block {
        flex: 3;
    }

    .section {
        background-color: #f9f9f9;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .section h4 {
        margin-top: 0;
    }

    .input-field {
        width: 100%;
        padding: 5px;
        margin: 5px 0;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    .col-player {
        width: 25%;
    }

    .col-input {
        width: 35%;
    }

    .col-current-offer {
        width: 40%;
    }

    .highlight {
        color: #007bff;
        font-weight: bold;
    }

    button {
        background-color: #6495ED;
        color: black;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 10px;
    }

    #stop-bargaining-btn {
        background-color: #FF5733;
    }

    #btn-accept {
        background-color: #4CBB17;
    }
</style>

<div class="top-block">
    <h1>Experiment: Bargaining (Round {{ subsession.round_number }} on {{ C.NUM_ROUNDS }})</h1>
</div>

<div class="main-content">
    <div class="left-block">
    <div class="section">
        <h4>Instructions</h4>
        <p>
            You are randomly matched with one participant in the room. You have to decide together how to split <span class="highlight">{{ C.PIE_SIZE }}</span> ECU. If you don't find an agreement before the end of the timer, which is visible at the top of the page, the disagreement option below will be implement.
        </p>
        <p>
            You are the <span class="highlight">{{ player.role }}</span>. The other participant is the {{ other_role }}.
        </p>
        <button id="stop-bargaining-btn" onclick="stopBargaining()">Stop Bargaining</button>
    </div>

    <div class="section">
        <h4>If no agreement</h4>
        {% if player.session.config.get('treatment') == 'bargain' or player.session.config.get('treatment') == 'test' and player.round_number == 1 %}
            <p>
                If no agreement is found, allocation will be automatically done. Player 1 will receive <span class="highlight">{{ C.DISAGREEMENT_PAYOFF_P1 }}</span> ECU and Player 2 will receive <span class="highlight">{{ C.DISAGREEMENT_PAYOFF_P2 }}</span> ECU.
            </p>
        {% elif player.session.config.get('treatment') == 'prisoner' or player.session.config.get('treatment') == 'test' and player.round_number == 2 %}
            <p>
                If no agreement is found, you will have to play the Prisoner's Dilemma game to determine your payoffs. The possible payoffs are displayed in the following table:
            </p>
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th></th>
                    <th>Other Cooperates</th>
                    <th>Other Defects</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Cooperate</td>
                    <td><strong>{{ C.mutual_cooperation_payoff_PD }}</strong>, {{ C.mutual_cooperation_payoff_PD }}</td>
                    <td><strong>{{ C.betrayed_payoff_PD }}</strong>, {{ C.betray_payoff_PD }}</td>
                </tr>
                <tr>
                    <td>Defect</td>
                    <td><strong>{{ C.betray_payoff_PD }}</strong>, {{ C.betrayed_payoff_PD }}</td>
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.mutual_betrayal_payoff_PD_p1 }}</strong>, {{ C.mutual_betrayal_payoff_PD_p2 }}</td>
                    {% else %}
                        <td><strong>{{ C.mutual_betrayal_payoff_PD_p2 }}</strong>, {{ C.mutual_betrayal_payoff_PD_p1 }}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        {% elif player.session.config.get('treatment') == 'staghunt' or player.session.config.get('treatment') == 'test' and player.round_number == 3 %}
            <p>
                If no agreement is found, you will have to play the Stag Hunt game to determine your payoffs. The possible payoffs are displayed in the following table:
            </p>
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th></th>
                    <th>Other Cooperates</th>
                    <th>Other Defects</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Stag</td>
                    <td><strong>{{ C.both_stag_payoff }}</strong>, {{ C.both_stag_payoff }}</td>
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.stag_hare_payoff }}</strong>, {{ C.hare_stag_payoff_p2 }}</td>
                    {% else %}
                        <td><strong>{{ C.stag_hare_payoff }}</strong>, {{ C.hare_stag_payoff_p1 }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Hare</td>
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.hare_stag_payoff_p1 }}</strong>, {{ C.stag_hare_payoff }}</td>
                    {% else %}
                        <td><strong>{{ C.hare_stag_payoff_p2 }}</strong>, {{ C.stag_hare_payoff }}</td>
                    {% endif %}
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.both_hare_payoff_p1 }}</strong>, {{ C.both_hare_payoff_p2 }}</td>
                    {% else %}
                        <td><strong>{{ C.both_hare_payoff_p2 }}</strong>, {{ C.both_hare_payoff_p1 }}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        {% elif player.session.config.get('treatment') == 'ultimatum' or player.session.config.get('treatment') == 'test' and player.round_number == 4 %}
            <p>
                If no agreement is found, you will have to play the Ultimatum game to determine your payoffs.
            </p>
            <p>In the Ultimatum game, the Player 2 proposes a split of the {{ C.PIE_SIZE }} ECU between him and the
                Player 1.</p>
            <p>Then, the Player 1 receives the offer. He can either accept or reject it.</p>
            <p></p>
            <ul>
                <li>If the Player 1 accepts the offer, the {{ C.PIE_SIZE }} ECU are allocated as proposed by the
                    Player 2.</li>
                <li>If the Player 1 rejects the offer, the Player 1 receives {{ C.reject_payoff_p1 }} ECU and the
                    Player 2 receives {{ C.reject_payoff_p2 }} ECU.</li>
            </ul>

        {% endif %}
    </div>
</div>



    <div class="right-block">
        <div class="offer-table section">
            <table class="table" style="border-color:#D0D0D0; border-style:solid; border-width:1px; border-spacing:0; vertical-align: middle;">
                <thead>
                <tr>
                    <th colspan="2">Make a new offer</th>
                    <th colspan="1" class="col-current-offer">Your current offer</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-player" {% if player.role == "Player 1" %}style="color: #007bff;"{% endif %}>Player 1</td>
                    <td><input type="number" id="my_offer_player1" class="input-field"></td>
                    <td id="my-proposal1">(no offer)</td>
                </tr>
                <tr>
                    <td class="col-player" {% if player.role == "Player 2" %}style="color: #007bff;"{% endif %}>Player 2</td>
                    <td><input type="number" id="my_offer_player2" class="input-field"></td>
                    <td id="my-proposal2">(no offer)</td>
                </tr>
                <tr>
                    <td style="text-align:right" colspan="2">
                        <button type="button" onclick="sendOffer()" id="btn-offer" style="background-color: #6495ED; color: black; padding: 5px 10px; cursor: pointer;">Send Offer</button>
                    </td>
                    <div id="offer-error" style="color: red; display: none;"></div></td>
                    <td>
                        <button type="button" onclick="sendCancelOffer()" id="btn-cancel" style="background-color: #FF5733; color: black; padding: 5px 10px; cursor: pointer; display: none;">Cancel Offer</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="accept-table section">
                <table class="table" style="border-color:#D0D0D0; border-style:solid; border-width:1px; border-spacing:0;">
                    <thead>
                    <tr>
                        <th colspan="2">{{ other_role }}'s offer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td {% if player.role == "Player 1" %}style="color: #007bff;"{% endif %}>Player 1</td>
                        <td id="other-proposal1">(no offer)</td>
                    </tr>
                    <tr>
                        <td {% if player.role == "Player 2" %}style="color: #007bff;"{% endif %}>Player 2</td>
                        <td id="other-proposal2">(no offer)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" id="btn-accept" onclick="sendAccept(this)" style="background-color: #4CBB17; color: black; padding: 5px 10px; cursor: pointer; display: none;">Accept</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>

        <div class="chat section">
            <h4>Chat</h4>
            {{ chat nickname=player.role }}
        </div>
    </div>
</div>

<script>
    let myOfferPlayer1 = document.getElementById('my_offer_player1');
    let myOfferPlayer2 = document.getElementById('my_offer_player2');
    let btnAccept = document.getElementById('btn-accept');
    let msgOtherProposal1 = document.getElementById('other-proposal1');
    let msgOtherProposal2 = document.getElementById('other-proposal2');
    let msgMyProposal1 = document.getElementById('my-proposal1');
    let msgMyProposal2 = document.getElementById('my-proposal2');
    let otherProposalPlayer1;
    let otherProposalPlayer2;

    function sendOffer() {
        let offerPlayer1 = parseInt(myOfferPlayer1.value, 10);
        let offerPlayer2 = parseInt(myOfferPlayer2.value, 10);
        let pieSize = 1000; // Assuming the total pie size is 1000
        let offerError = document.getElementById('offer-error');

        // Check if either input is empty or if their sum exceeds the pie size
        if (isNaN(offerPlayer1) || isNaN(offerPlayer2)
        || offerPlayer1 < 0 || offerPlayer2 < 0
        || offerPlayer1 !== parseFloat(myOfferPlayer1.value) || offerPlayer2 !== parseFloat(myOfferPlayer2.value)
        || (offerPlayer1 + offerPlayer2) !== pieSize) {
            offerError.textContent = "Invalid offer. Please ensure both fields are filled and the total equals " + pieSize + " points and that both fields are non negative integers.";
            offerError.style.display = 'block';
            return;
        } else {
            offerError.style.display = 'none';
        }

        liveSend({
            'type': 'propose',
            'amount_player1': offerPlayer1,
            'amount_player2': offerPlayer2
        });
        myOfferPlayer1.value = '';
        myOfferPlayer2.value = '';
    }

    function sendAccept() {
        // Confirmation dialog
        let isConfirmed = confirm("Are you sure you want to accept this offer?");
        if (isConfirmed) {
            // Proceed with the acceptance logic if confirmed
            liveSend({
                'type': 'accept',
                'amount_player1': otherProposalPlayer1,
                'amount_player2': otherProposalPlayer2
            });
        }
        // If cancelled, do nothing
    }

    function sendCancelOffer() {
        // Send a fake offer with values 9999 for both players
        liveSend({
            'type': 'propose',
            'amount_player1': 9999,
            'amount_player2': 9999
        });
        myOfferPlayer1.value = '';
        myOfferPlayer2.value = '';
    }

    function stopBargaining() {
        let isConfirmed2 = confirm("Are you sure you want to stop bargaining? It implies that you accept that " +
            "you found no agreement and prefer reaching the disagreement option.");
        if (isConfirmed2) {
            liveSend({
                'type': 'stop_bargaining',
                'amount_player1': 8888,
                'amount_player2': 8888
            });
        }
    }

    function cu(amount) {
        return `${amount} ECU`;
    }

    function liveRecv(data) {
        let pieSize = 1000;
        if ('proposals' in data) {
            for (let [id_in_group, proposalPlayer1, proposalPlayer2] of data.proposals) {
                if (id_in_group === js_vars.my_id) {
                    if (proposalPlayer1 + proposalPlayer2 === pieSize) {
                        msgMyProposal1.innerHTML = `${cu(proposalPlayer1)}`;
                        msgMyProposal2.innerHTML = `${cu(proposalPlayer2)}`;
                        document.getElementById('btn-cancel').style.display = 'block';
                    } else {
                        msgMyProposal1.innerHTML = `(offer cancelled)`;
                        msgMyProposal2.innerHTML = `(offer cancelled)`;
                        document.getElementById('btn-cancel').style.display = 'none';
                    }
                } else {
                    if (proposalPlayer1 + proposalPlayer2 === pieSize) {
                        btnAccept.style.display = 'block';
                        msgOtherProposal1.innerHTML = `${cu(proposalPlayer1)}`;
                        msgOtherProposal2.innerHTML = `${cu(proposalPlayer2)}`;
                        otherProposalPlayer1 = proposalPlayer1;
                        otherProposalPlayer2 = proposalPlayer2;
                    } else {
                        btnAccept.style.display = 'none';
                        msgOtherProposal1.innerHTML = `(offer cancelled)`;
                        msgOtherProposal2.innerHTML = `(offer cancelled)`;
                        otherProposalPlayer1 = proposalPlayer1;
                        otherProposalPlayer2 = proposalPlayer2;
                    }
                }
            }
        }

        if ('finished' in data) {
            document.getElementById('form').submit();
        }
    }
    window.addEventListener('DOMContentLoaded', (event) => {
        liveSend({});
    });


</script>

{{ endblock }}
