{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   <b style="color:grey"> Summary of Instructions: Prediction Task</b>
{% endblock %}

{% block app_styles %}
<style type="text/css">
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slidecontainer2 {
  width: 100%;
}

.slider2 {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider2:hover {
  opacity: 1;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.center {
border: 5px solid #FFFF00;
text-align: center;
}

.display {
    border: 10px solid red;
}

.important {
        font-size: 14pt;
        font-weight: bold;
    }

th {
    border: 1px solid black;
    font-size: 10pt;
    width: 200px;
    text-align: center;
    font-weight:bold;
    background-color: lightgray;
    }

td {
    font-size: 10pt;
    border: 1px solid black;
    text-align: center;
    }

table {
    table-layout: fixed;
    width: 200px;
    }

.history td {
    font-size: 16pt;
    }

.history th {
    font-size: 12pt;
    width: 100px;
    text-align: center;
    }
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
}

</style>
{% endblock %}

{% block content %}


<p>  </p>
<li>Participants who do not actively participate in the market in a period, are asked to <b>predict the average price</b> at which shares will be traded during that period (figure below):
 <ul>
   <br><br>
{#        You'll receive an asset to sell and learn its intrinsic value, <em>&theta;</em>, ranging from <em>L&dollar;0</em> to <em>L&dollar;100</em>,
       which is unknown to potential Asset Buyers in your group.
  #}

    {{ if info_acquisition == 1}}      

    <center><img src="https://i.imgur.com/ueIRgeU.png"  width="85%"/> </center>    {#  State is either A or B #}
    
    {{else}}
      {{ if public_information == 1}}      
      <center><img src="https://i.imgur.com/GFBxlg0.png" width="85%"/> </center>    {#  State is B #}
      {{ endif }}

      {{ if public_information == 0}}
      <center><img src="https://i.imgur.com/GFBxlg0.png" width="85%"/> </center>     {#   State is  #}
      {{ endif }}

      {{ endif }}

 


     <p></p>

    <ul> <li>At the end of each period, their prediction will be compared to the actual average trading price. The more accurate the prediction, the more you will earn.</li>
    </ul> 
      
       <p></p>
     
          <ul> <li> Each period, you will earn L&dollar;{{prediction_endowment}} minus the absolute value of your prediction error.
            For example, if you predict a price of PP and the actual average trading price is AP,  your prediction earnings will be L&dollar;{{prediction_endowment}}-|PP-AP| .</li>

    
               <p></p>
              </ul>
            
            <p></p>  
              <ul> <li> You have 120 seconds to enter your prediction. If you do not enter a prediction value in time or your earnings would be negative, you will earn <em>L&dollar;0</em>.</li>
   
      
            
            
            </ul>
      
      </li>


      
      



<p></p><br>
{% next_button %}


{% endblock %}