<style>
    .instructions-container {
        font-family: Arial, sans-serif;
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
    }
    .section {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 15px;
        background-color: #f8f8f8;
    }
    .sectionbis {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 15px;
        background-color: #ffcccb;
    }
    .section-header {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .instructions-container img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
    .highlight {
        color: #007bff;
        font-weight: bold;
    }
</style>

<div class="instructions-container">
    <div style="text-align: center">
    <h1>実験の説明</h1>
    </div>
    
    {{ if player.session.config.get('treatment') == 'test' and player.round_number == 2 }}
    <div class="sectionbis">
        <div class="section-header">新しいルール</div>
        <p>第2ラウンド以降、実験のルールが少しずつ変わります。赤い色付き部分が、そのラウンドの新しいルールです。他の説明部分は変わりません。
            重要なのは、<u>不合意ステージと実験の目標の説明が変わる</u>ことです。</p>
    </div>

    {{elif player.round_number > 2 and player.round_number != 5}}
    <div class="section">
        <div class="section-header">新しいルール</div>
        <p>第2ラウンド以降、実験のルールが少しずつ変わります。赤い色付き部分が、そのラウンドの新しいルールです。他の説明部分は変わりません。
            重要なのは、<u>不合意ステージと実験の目標の説明が変わる</u>ことです。</p>
    </div>

    {{ elif player.round_number == 5 }}
    <div class="sectionbis">
        <div class="section-header">新しいルール</div>
        <p>次のラウンドからは、役割が変わります。プレイヤー1だった場合はプレイヤー2になり、プレイヤー2だった場合はプレイヤー1になります。
            赤い色付きの説明部分を注意深くお読みください。それ以外の説明部分は前のラウンドと同じです。</p>
    </div>
    {{ endif }}

　　{{if player.round_number == 1}}
    <div class="section">
        <div class="section-header"></div>
        <p>実験へのご参加ありがとうございます。この実験では、他の実験参加者とランダムにペアになり、ある、金額を二人で分けるための交渉を何ラウンドか行います。
            <u>各ラウンドの終了後、次のラウンドでは別の実験参加者とペアになります。</u></p>
    </div>
    {{endif}}


    {{ if player.session.config.get('treatment') == 'bargain' or 
    player.session.config.get('treatment') == 'test' and player.round_number > 1 }}
    <h2>不合意ステージ</h2>
    <div class="section">
        <div class="section-header"></div>
            <p>交渉時間が終了するか、プレイヤーが交渉の中止を選択した場合、不合意ステージに移ります。
                <u>不合意ステージではチャットを使うことはできません。</u></p>
    </div>
   {{ endif }}

   {{ if player.session.config.get('treatment') == 'bargain'
    or player.session.config.get('treatment') == 'test' and player.round_number == 5 }}
        <div class="sectionbis">
            <div class="section-header"></div>
                <p>
                このラウンドで不合意ステージに移ると、ECUは以下のように自動的に分配されます：<p></p>
                プレイヤー1は{{ C.DISAGREEMENT_PAYOFF_P1 }}ECUを受け取り、プレイヤー2は{{ C.DISAGREEMENT_PAYOFF_P2 }}ECUを受け取ります。
                </p>
        </div>
    {{ endif }}

   {% if player.session.config.get('treatment') == 'prisoner'
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 2
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 3
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 4
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 6
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 7
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 8 %}
        <div class="sectionbis">
            <div class="section-header"></div>
            <p>このラウンドの不合意ステージでは、あなた (<span class="highlight">{{ if player.type == "Player 1" }}プレイヤー1{{ else }}プレイヤー2{{ endif }}</span>)
                と相手は、以下の表の二つの選択のうちの一つを、独立して選ぶ必要があります。
                あなたの獲得額は、あなたの決定と相手の決定の両方に依存します：</p>
            <ul>
                <li>両方のプレイヤーが選択1を選んだ場合、それぞれ{{ C.mutual_cooperation_payoff_PD }}ECUを獲得します。</li>
                <li>一方が選択1を選び、もう一方が選択2を選んだ場合、選択2を選んだプレイヤーは{{ C.betray_payoff_PD }}ECUを獲得し、他方は{{ C.betrayed_payoff_PD }}ECUを獲得します。</li>
                <li>両方のプレイヤーが選択2を選んだ場合、
                    {{ if player.type == "Player 1" }}<span class="highlight">プレイヤー1</span> (あなた) {{ else }}プレイヤー1{{ endif }}は{{ C.mutual_betrayal_payoff_PD_p1 }}ECUを獲得し、
                    {{ if player.type == "Player 2" }}<span class="highlight">プレイヤー2</span> (あなた) {{ else }}プレイヤー2{{ endif }}は{{ C.mutual_betrayal_payoff_PD_p2 }}ECUを獲得します。</li>
            </ul>
            <p>不合意ステージで選択を行うには、表の「自分の選択1」ボタンまたは「自分の選択2」ボタンをクリックしてください。</p>
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <td><span class="highlight">{{ if player.type == "Player 1" }}プレイヤー1{{ else }}プレイヤー2{{ endif }}</span>＼
                        {{ if player.type == "Player 2" }}プレイヤー1{{ else }}プレイヤー2{{ endif }}</td>
                    <td>相手の選択1</td>
                    <td>相手の選択2</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>自分の選択1</strong></td>
                    <td><strong>{{ C.mutual_cooperation_payoff_PD }}</strong>, {{ C.mutual_cooperation_payoff_PD }}</td>
                    <td><strong>{{ C.betrayed_payoff_PD }}</strong>, {{ C.betray_payoff_PD }}</td>
                </tr>
                <tr>
                    <td><strong>自分の選択2</strong></td>
                    <td><strong>{{ C.betray_payoff_PD }}</strong>, {{ C.betrayed_payoff_PD }}</td>
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.mutual_betrayal_payoff_PD_p1 }}</strong>, {{ C.mutual_betrayal_payoff_PD_p2 }}</td>
                    {% else %}
                        <td><strong>{{ C.mutual_betrayal_payoff_PD_p2 }}</strong>, {{ C.mutual_betrayal_payoff_PD_p1 }}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>

    {% elif player.session.config.get('treatment') == 'staghunt'
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 3
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 4
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 2
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 7
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 8
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 6 %}
        <div class="sectionbis">
            <div class="section-header"></div>
            <p>このラウンドの不合意ステージでは、あなた (<span class="highlight">{{ if player.type == "Player 1" }}プレイヤー1{{ else }}プレイヤー2{{ endif }}</span>)
                と相手は、以下の表の二つの選択のうちの一つを、独立して選ぶ必要があります。
                あなたの獲得額は、あなたの決定と相手の決定の両方に依存します：</p>
            <ul>
                <li>両方のプレイヤーが選択1を選んだ場合、それぞれ{{ C.both_stag_payoff }}ECUを獲得します。</li>
                <li>{{ if player.type == "Player 1" }}<span class="highlight">プレイヤー1</span> (あなた) {{ else }}プレイヤー1{{ endif }}が選択1を選び、
                    {{ if player.type == "Player 2" }}<span class="highlight">プレイヤー2</span> (あなた) {{ else }}プレイヤー2{{ endif }}が選択2を選んだ場合、プレイヤー1は{{ C.stag_hare_payoff }}ECUを獲得し、プレイヤー2は{{ C.hare_stag_payoff_p2 }}ECUを獲得します。</li>
                <li>{{ if player.type == "Player 1" }}<span class="highlight">プレイヤー1</span> (あなた) {{ else }}プレイヤー1{{ endif }}が選択2を選び、
                    {{ if player.type == "Player 2" }}<span class="highlight">プレイヤー2</span> (あなた) {{ else }}プレイヤー2{{ endif }}が選択1を選んだ場合、プレイヤー1は{{ C.hare_stag_payoff_p1 }}ECUを獲得し、プレイヤー2は{{ C.stag_hare_payoff }}ECUを獲得します。</li>
                <li>両方のプレイヤーが選択2を選んだ場合、{{ if player.type == "Player 1" }}<span class="highlight">プレイヤー1</span> (あなた) {{ else }}プレイヤー2{{ endif }}は{{ C.both_hare_payoff_p1 }}ECUを獲得し、
                    {{ if player.type == "Player 2" }}<span class="highlight">プレイヤー2</span> (あなた) {{ else }}プレイヤー2{{ endif }}は{{ C.both_hare_payoff_p2 }}ECUを獲得します。</li>
            </ul>
            <p>不合意ステージで選択を行うには、表の「自分の選択1」または「自分の選択2」をクリックしてください。</p>
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <td><span class="highlight">{{ if player.type == "Player 1" }}プレイヤー1{{ else }}プレイヤー2{{ endif }}</span>＼
                        {{ if player.type == "Player 2" }}プレイヤー1{{ else }}プレイヤー2{{ endif }}</td>
                    <td>相手の選択1</td>
                    <td>相手の選択2</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>自分の選択1</strong></td>
                    <td><strong>{{ C.both_stag_payoff }}</strong>, {{ C.both_stag_payoff }}</td>
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.stag_hare_payoff }}</strong>, {{ C.hare_stag_payoff_p2 }}</td>
                    {% else %}
                        <td><strong>{{ C.stag_hare_payoff }}</strong>, {{ C.hare_stag_payoff_p1 }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><strong>自分の選択2</strong></td>
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.hare_stag_payoff_p1 }}</strong>, {{ C.stag_hare_payoff }}</td>
                    {% else %}
                        <td><strong>{{ C.hare_stag_payoff_p2 }}</strong>, {{ C.stag_hare_payoff }}</td>
                    {% endif %}
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.both_hare_payoff_p1 }}</strong>, {{ C.both_hare_payoff_p2 }}</td>
                    {% else %}
                        <td><strong>{{ C.both_hare_payoff_p2 }}</strong>, {{ C.both_hare_payoff_p1 }}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    {% elif player.session.config.get('treatment') == 'ultimatum'
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 4
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 2
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 3
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 8
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 6
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 7 %}
        <div class="sectionbis">
            <div class="section-header"></div>
            <p>このラウンドの不合意ステージでは、プレイヤー2が{{ C.PIE_SIZE }}ECUの分配案をオファーします。</p>
            <p>その後、プレイヤー1がそのオファーを受け取り、承認するか、または拒否するかを選択します。</p>
            <p></p>
            <ul>
                <li>プレイヤー1がオファーを承認した場合、{{ C.PIE_SIZE }}ECUはプレイヤー2によって提案された通りに分配されます。</li>
                <li>プレイヤー1がオファーを拒否した場合、プレイヤー1は{{ C.reject_payoff_p1 }}ECUを受け取り、プレイヤー2は{{ C.reject_payoff_p2 }}ECUを受け取ります。</li>
            </ul>
        </div>
    {% endif %}


    <h2>実験の目標</h2>

    {{ if player.round_number == 1 }}
    <div class="section">
        <p>あなたの目標は{{ C.PIE_SIZE }}実験通貨単位 (ECU) を二人でどのように分けるかについて、相手と合意に達することです。
            合意に達しない場合、「不合意」ステージに自動的に移動します。その内容の詳細は「不合意」ステージのセクションで説明されます。</p>
    </div>

    {{ elif player.round_number == 5 }}
    <div class="sectionbis">
        <p>あなたの目標は{{ C.PIE_SIZE }}実験通貨単位 (ECU) を二人でどのように分けるかについて、相手と合意に達することです。
            合意に達しない場合、「不合意」ステージに自動的に移動します。その内容の詳細は「不合意」ステージのセクションで説明されます。</p>
    </div>

    {{ elif  player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 4
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 2
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 3
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 8
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 6
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 7 }}
    <div class="sectionbis">
        <p><u>このラウンドの交渉では</u>、あなたの目標は、1000ECUを二人でどのように分けるかについて、相手と合意に達することです。
            これは、不合意ステージにおいて、プレイヤー2のいかなるオファーもプレイヤー1が承認すると、合計が1000ECUになるからです。
            この1000ECUの分け方について相手と交渉します。

            交渉においては、<u>チャットを利用しても構いません。</u>
        </p>
    </div>
    
    {{ else }}
    <div class="sectionbis">
        <p>
            あなたは、<span class="highlight">{{ if player.type == "Player 1" }}プレイヤー1</span>です。{{ else }}プレイヤー2</span>です。{{ endif }}
            ペアの相手はプレイヤー{{ if player.type == "Player 1"  }}2です。{{ else }}1です。{{ endif }}<br>
            このラウンドの交渉では、あなたの目標は、1000ECUを二人でどのように分けるかについて、相手と合意に達することです。
            しかしながら、それは、不合意ステージの表で、あなたと相手がともに、選択1をとったとき、
            それぞれが{{ C.mutual_cooperation_payoff_PD }}ECUを得るので、その合計である{{ C.PIE_SIZE }}ECUを2人で自由に分けることができるからです。<p></p>
            不合意ステージに移動した場合は、選択1か選択2を独立して自由に選びます。
        </p>
    </div>
    {{ endif }}

    <div class="section">
        <div class="section-header">時間制限</div>
        <p>交渉には5分の時間制限があります。この時間内に合意に達しない場合、そのラウンドの交渉は終了し、「不合意」ステージに自動的に移動します。</p>
    </div>

    <div class="section">
        <div class="section-header">各ラウンドでの役割とペア</div>
        <p>各ラウンドで、参加者の各ペアは一人がプレイヤー1、他方がプレイヤー2としてランダムに割り当てられます。
            <u>各ラウンドの終了後、次のラウンドでは別の実験参加者とペアになります。</u>
        </p>
    </div>

    {{ if player.session.config.get('treatment') == 'bargain'
    or player.session.config.get('treatment') == 'test' and player.round_number == 1 }}
    <h2>不合意ステージ</h2>
        <div class="section">
            <div class="section-header"></div>
                <p>交渉時間が終了するか、プレイヤーが交渉の中止を選択した場合、「不合意」ステージに移ります。
                    <u>「不合意」ステージではチャットを使うことはできません。</u>第1ラウンドで「不合意」ステージに移ると、ECUは以下のように自動的に配分されます：
                    プレイヤー1は{{ C.DISAGREEMENT_PAYOFF_P1 }}ECUを受け取り、プレイヤー2は{{ C.DISAGREEMENT_PAYOFF_P2 }}ECUを受け取ります。<p></p>
                    「不合意」ステージに関する説明の詳細は、<u>ラウンドごとに変わります。</u></p>
        </div>
    {{ endif }}

    <h2>各ラウンドでの交渉の進め方</h2>

    <div class="section">
        <div class="section-header">チャット機能</div>
        <p>各ラウンドでの交渉中、チャット機能を使用して相手とコミュニケーションをとることができます。
            下の画像は、実験中に表示されるチャットの様子です。チャットでは、自分の個人情報や、相手を侮辱するような言葉を入力してはいけません。</p>
        <img src="{{ static 'gb_live_bargaining_jp_img/images/instructions_chat.png' }}" alt="チャット" width="450">
    </div>

    <div class="section">
        <div class="section-header">オファーの送信</div>
        <p>入力欄に、あなたと相手の分配額 (ECU) を入力できます。これらの額は0から{{ C.PIE_SIZE }}の範囲の整数で、二つの額の合計は{{ C.PIE_SIZE }}でなければなりません。
            オファーを入力したら、「オファーを送る」ボタンをクリックして相手に送信してください。オファーが送信されると、「現在のオファー」として下の図の右側のように表示されます。</p>
        <p>既にオファーを送信した後でも、新しいオファーを上書きして作成し、送信することができます。そうすると、以前のオファーは置き換えられます。</p>
        <img src="{{ static 'gb_live_bargaining_jp_img/images/instructions_offer.png' }}" alt="オファーの提示">
    </div>

    <div class="section">
        <div class="section-header">オファーへの対応</div>
        <p>相手からオファーを受け取った場合、承認するかどうかを選択できます。無視しても構いません。
            「承認」ボタンをクリックしてオファーを承認すると、そのラウンドは終了し、{{ C.PIE_SIZE }}ECUがそのオファーのとおりに分配されます。</p>
        <img src="{{ static 'gb_live_bargaining_jp_img/images/instructions_accept.png' }}" alt="オファーへの対応" width="400">
    </div>

    <div class="section">
        <div class="section-header">オファーのキャンセル</div>
        <p>相手が承認する前に自分のオファーを撤回したい場合は、「オファーをキャンセル」ボタンをクリックしてください。
            そうすると、相手は、以前のオファーを承認できなくなります。新しいオファーを作成することは引き続き可能です。</p>
        <img src="{{ static 'gb_live_bargaining_jp_img/images/instructions_cancel.png' }}" alt="オファーのキャンセル" width="400">
    </div>

    <div class="section">
        <div class="section-header">交渉の中止</div>
        <p>交渉を続けずに、「不合意」ステージに入りたい場合は、「交渉中止」ボタンをクリックしてください。
            これにより、交渉は打ち切られ、「不合意」ステージに移動し、ステージでの説明に従った後、そのラウンドが終了します。
            ポップアップウィンドウが表示され、交渉中止の決定を確認する必要があります。</p>
        <img src="{{ static 'gb_live_bargaining_jp_img/images/instructions_stop.png' }}" alt="交渉の停止" width="100">
    </div>

    


    <h2>報酬</h2>

    <div class="section">
        <div class="section-header"></div>
        <p>実験では、上記の交渉を繰り返します。チャット機能も自由に使って構いません。実験終了後、全てのラウンドの中からコンピューターによってランダムに1ラウンドが選ばれ、そこで実際に獲得したECUが円に変換され、皆さんへの謝礼となります。変換レートは1ECU = 1円です。</p>
        <p>上記の謝礼に、実験への参加謝礼500円を加えたものが、本日の最終受取額になります。</p>
    </div>

</div>
