{{ block content }}

<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
    }

    .instructions {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        text-align: left;
    }

    .decision-table {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .clickable-cell {
        cursor: pointer;
        background-color: #f0f0f0;
    }

    .clickable-cell:hover {
        background-color: #e0e0e0;
    }

    th, td {
        padding: 10px;
    }

    th {
        background-color: #e0e0e0;
    }

    .bg-info {
        background-color: #d0f0c0;
    }

    button {
        background-color: #6495ED;
        color: black;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 10px;
    }
    .highlight {
        color: #007bff;
        font-weight: bold;
    }
</style>

    <div class="instructions">
        <h2>不合意ステージ</h2>
        <p>
            あなた (<span class="highlight">{{ if player.type == "Player 1" }}プレイヤー1{{ else }}プレイヤー2{{ endif }}</span>)
            と相手は、以下の表の二つの選択のうちの一つを、独立して選ぶ必要があります。
            あなたの獲得額は、あなたの決定と相手の決定の両方に依存します：
        </p>
        <ul>
            <li>両方のプレイヤーが選択1をプレイした場合、それぞれ{{ coop_coop_payoff }}ECUを獲得します。</li>
            <li>一方が選択1を、もう一方が選択2をプレイした場合、選択2を選んだプレイヤーは{{ defect_coop_payoff_p1 }}ECUを獲得し、選択1を選んだプレイヤーは{{ defect_coop_payoff_p2 }}ECUを獲得します。</li>
            <li>両方のプレイヤーが選択2を選んだ場合、
                {{ if player.type == "Player 1" }}<span class="highlight">プレイヤー1</span> (あなた) {{ else }}プレイヤー1{{ endif }}は{{ C.mutual_betrayal_payoff_PD_p1 }}ECUを獲得し、
                {{ if player.type == "Player 2" }}<span class="highlight">プレイヤー2</span> (あなた) {{ else }}プレイヤー2{{ endif }}は{{ C.mutual_betrayal_payoff_PD_p2 }}ECUを獲得します。</li>
        </ul>
        <p>以下の表で「自分の選択1」または「自分の選択2」ボタンをクリックして、あなたの決定を選択してください。</p>
    </div>
    <div class="decision-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td><span class="highlight">{{ if player.type == "Player 1" }}プレイヤー1{{ else }}プレイヤー2{{ endif }}</span>＼
                    {{ if player.type == "Player 2" }}プレイヤー1{{ else }}プレイヤー2{{ endif }}</td>
                <td>相手の選択1</td>
                <td>相手の選択2</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td onclick="set_decision(true)" class="clickable-cell"><strong>「自分の選択1」</strong></td>
                <td><strong>{{ coop_coop_payoff }}</strong>, {{ coop_coop_payoff }}</td>
                <td><strong>{{ coop_defect_payoff_p1 }}</strong>, {{ coop_defect_payoff_p2 }}</td>
            </tr>
            <tr>
                <td onclick="set_decision(false)" class="clickable-cell"><strong>「自分の選択2」</strong></td>
                <td><strong>{{ defect_coop_payoff_p1 }}</strong>, {{ defect_coop_payoff_p2 }}</td>
                {% if player_id == 1 %}
                    <td><strong>{{ defect_defect_payoff_p1 }}</strong>, {{ defect_defect_payoff_p2 }}</td>
                {% else %}
                    <td><strong>{{ defect_defect_payoff_p2 }}</strong>, {{ defect_defect_payoff_p1 }}</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>

<button class="btn btn-primary btn-lg" type="submit">次へ</button>

<input type="hidden" name="PD_decision" id="PD_decision" value="">

{{ block scripts }}
<script>
    const btn_next = document.querySelector(".otree-btn-next");
    const tdec = document.querySelector("table tbody");

    function set_decision(decision) {
        document.querySelector("input[name=PD_decision]").value = decision;
        let rows = tdec.rows;
        for (let i = 0; i < rows.length; i++) {
            if ((decision && i === 0) || (!decision && i === 1)) {
                rows[i].classList.add("bg-info");
            } else {
                rows[i].classList.remove("bg-info");
            }
        }
        btn_next.disabled = false;
    }

    window.onload = function () {
        btn_next.disabled = true;
    }
</script>
{{ endblock }}

{{ endblock }}
