<header>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</header>

<body>
  <div id="app">
    <table class="vue_tbl">
      <thead>
        <tr>
          <th>DATE</th>
          <th>RBC level <span style="font-size: 12px">(10⁶/㎕)</span></th>
          <th>Hgb level <span style="font-size: 12px">(g/dL)</span></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items">
          <td>hoge        </td>
          <td>[[item.rbc]]</td>
          <td>[[item.hgb]]</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<script>
var app = new Vue({
  delimiters: ['[[', ']]'],
 el: "#app",
 data: {
  items: [{
   rbc: "5.1",
   hgb: "7.8"
  }]
 }
});
</script>
