{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}
<div id='app'>
  <input id="input_price" type="number" min="0" class="form-control" class="input-medium" />
  <input id="input_amount" type="number" min="0" class="form-control" class="input-medium"  />
  <button type="button" id="bidbutton" class="btn btn-danger">売り注文</button>
  <button type="button" id="askbutton" class="btn btn-primary">買い注文</button>
  <button type="button" id="cancelbutton" class="btn btn-warning">キャンセル</button>
</div>

<hr />

<div id="tables" align="center" >
  <table class="table" align="center" >
    <tr valign="top" v-for="row in table.rows">
      <td>
        <span>
          <strong>[[ row.r1.id_in_group ]] - [[ row.r1.amount ]] - [[ row.r1.money ]] - [[ row.r1.unit_of_price ]]</strong>
          <span v-if="row.r1.id === playerId" class="badge badge-primary">you</span>
          <button type="button" v-if="row.r1.id_in_group!= playerId" v-on:click="accept(row.r1)" class="btn btn-success btn-xs"><small>承諾</small></button>
        </span>
      </td>
    </tr>
  </table>
</div>
<div>

</div>
    {% next_button %}

{% endblock %}

{% block scripts %}
<script>

function liveRecv(data) {
    history.innerHTML += '<tr><td>' + data.id_in_group + '</td><td>' + data.bid + '</td></tr>';
}

sendbutton.onclick = function () {
    liveSend(parseInt(inputbox.value));
};
</script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="D:\otree\vuetest\vuetest\templates\vuetest\jquery-3.5.1.js"></script>
{% endblock %}
