<style>
    .instructions-container {
        font-family: Arial, sans-serif;
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
    }
    .section {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 15px;
        background-color: #f8f8f8;
    }
    .sectionbis {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 15px;
        background-color: #ffcccb;
    }
    .section-header {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .instructions-container img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
</style>

<div class="instructions-container">
    <h1>Instructions</h1>

    {% if player.session.config.get('treatment') == 'test' and player.round_number > 1 and player.round_number != 5 %}
    <div class="sectionbis">
        <div class="section-header">New rules</div>
        <p>The area within the red frame contains the new rules from round 2 onwards. The other parts remain unchanged.</p>
    </div>
    {% elif player.round_number == 5 %}
    <div class="sectionbis">
        <div class="section-header">New rules</div>
        <p>For the following rounds, you will now change role. If you were Player 1, you will be Player 2 and if you
            were Player 2, you will be Player 1.
            Please read carefully the red sections of the instructions. The gray sections remain similar to the
            previous round.</p>
    </div>
    {% endif %}

    <div class="section">
        <div class="section-header"></div>
        <p>Thank you for participating in the experiment. In this experiment, you will be randomly paired with other
            participants to negotiate the division of a certain amount of money over several rounds. After each round
            of negotiation, you will be paired with a different participant for the next round.</p>
    </div>

    <div class="section">
        <div class="section-header">Your goal</div>
        <p>Your goal is to reach an agreement on how to divide 1000 experimental currency units (ECU) between two
            people. If no agreement is reached, you will automatically move to the 'disagreement' stage. Details of
            this stage are described in the 'In Case of No Agreement' section.</p>
    </div>

    <div class="section">
        <div class="section-header">Time Limit</div>
        <p>There is a {{ C.timer|to0 }}-minute time limit for the negotiation. If an agreement is not reached within
            this time, the round will end, and you will automatically move to the 'disagreement' stage.</p>
    </div>

    <div class="section">
        <div class="section-header">Roles</div>
        <p>Roles in Each Round: In each round, each pair of participants is randomly assigned so that one person is
            Player 1 and the other is Player 2.</p>
    </div>

    <h2>How to proceed the bargaining at each round</h2>

    <div class="section">
        <div class="section-header">Chat Function</div>
        <p>During negotiations in each round, you can use the chat function to communicate with your partner about the
            negotiation. The image below shows what the chat will look like during the experiment. In the chat, you
            must not enter your personal information or words that insult the other person.</p>
        <img src="{{ static 'gb_live_bargaining/images/instructions_chat.png' }}" alt="Chat" width="450">
    </div>

    <div class="section">
        <div class="section-header">Sending an Offer</div>
        <p>: In the input field, you can enter the distribution amounts of money (ECU) for you and the other player.
            These amounts must range from 0 to {{ C.PIE_SIZE }}, and their total must be exactly {{ C.PIE_SIZE }}.
            Both amounts must be non-negative integers. Once you have entered your offer, click 'Send Offer' to send
            it to the other player. Once sent, your offer will be displayed on the right side of the image below as
            'Your Current Offer'. </p>
        <p>Even after you have sent an offer, you can overwrite it by creating and sending a new offer, which will
            replace the previous one.</p>
        <img src="{{ static 'gb_live_bargaining/images/instructions_offer.png' }}" alt="Making an Offer">
    </div>

    <div class="section">
        <div class="section-header">Responding to an Offer</div>
        <p>If you receive an offer from another player, you can choose to accept it or ignore it. By clicking
            'Accept', you accept the offer, the round (task) ends, and the {{ C.PIE_SIZE }} ECU are distributed
            according to that offer.</p>
        <img src="{{ static 'gb_live_bargaining/images/instructions_accept.png' }}" alt="Responding to an Offer" width="320">
    </div>

    <div class="section">
        <div class="section-header">Canceling an Offer</div>
        <p>If you wish to withdraw your offer before the other player accepts it, please click 'Cancel Offer'. This
            will prevent the other player from being able to accept your previous offer. You can still create a new
            offer after cancelling.</p>
        <img src="{{ static 'gb_live_bargaining/images/instructions_cancel.png' }}" alt="Canceling an Offer" width="400">
    </div>

    <div class="section">
        <div class="section-header">Stopping Negotiations</div>
        <p>If you wish to stop negotiating and enter the disagreement stage, please click 'Stop Negotiation'. This will
            terminate the negotiation, move to the disagreement stage, and the round will end after following the
            instructions in that stage. A popup window will appear to confirm your decision to stop the negotiation.</p>
        <img src="{{ static 'gb_live_bargaining/images/instructions_stop.png' }}" alt="Stopping Bargaining" width="150">
    </div>

    <h2>If No Agreement Is Reached</h2>

    {% if player.session.config.get('treatment') == 'bargain'
    or player.session.config.get('treatment') == 'test' and player.round_number == 1
    or player.session.config.get('treatment') == 'test' and player.round_number == 5 %}
        <div class="section">
            <div class="section-header"></div>
                <p>If the negotiation time ends before an agreement is reached or a player decides to end the
                    negotiation without agreement, you will enter the stage of negotiation disagreement. In the first
                    round, ECU is automatically allocated as follows: Player 1 receives  {{ C.DISAGREEMENT_PAYOFF_P1 }}
                    , and Player 2 receives {{ C.DISAGREEMENT_PAYOFF_P2 }}ECU. The instructions in this stage vary from
                    round to round.</p>
        </div>
    {% else %}
        <div class="sectionbis">
            <div class="section-header"></div>
                <p>From Round 2 onwards, the disagreement stage of the negotiation will proceed as follows:
                    In case of disagreement, Player 1 and Player 2 will independently choose either Option 1 or
                    Option 2. During this stage, the use of chat is not permitted.</p>
        </div>
    {% endif %}

    {% if player.session.config.get('treatment') == 'prisoner'
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 2
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 3
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 4
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 6
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 7
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 8 %}
        <div class="sectionbis">
            <div class="section-header">Disagreement Stage Instructions</div>
            <p>In the Disagreement Game, you and the other player must independently decide between two choices. Your payoff depends on both your decision and the other player's decision:</p>
            <ul>
                <li>If both players play Choice 1, each earns {{ C.mutual_cooperation_payoff_PD }} ECU.</li>
                <li>If one plays Choice 1 and the other plays Choice 2, the player choosing play Choice 2 earns {{ C.betray_payoff_PD }} ECU, and the
                    other earns {{ C.betrayed_payoff_PD }} ECU.</li>
                <li>If both players play Choice 2, Player 1 earns {{ C.mutual_betrayal_payoff_PD_p1 }} ECU, and Player 2
                    earns {{ C.mutual_betrayal_payoff_PD_p2 }} ECU.</li>
            </ul>
            <p>To make a choice during the disagreement game, you just have to click on Choice 1 or Choice 2 in the table.</p>
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th></th>
                    <th>Other's Choice 1</th>
                    <th>Other's Choice 2</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Choice 1</td>
                    <td><strong>{{ C.mutual_cooperation_payoff_PD }}</strong>, {{ C.mutual_cooperation_payoff_PD }}</td>
                    <td><strong>{{ C.betrayed_payoff_PD }}</strong>, {{ C.betray_payoff_PD }}</td>
                </tr>
                <tr>
                    <td>Choice 2</td>
                    <td><strong>{{ C.betray_payoff_PD }}</strong>, {{ C.betrayed_payoff_PD }}</td>
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.mutual_betrayal_payoff_PD_p1 }}</strong>, {{ C.mutual_betrayal_payoff_PD_p2 }}</td>
                    {% else %}
                        <td><strong>{{ C.mutual_betrayal_payoff_PD_p2 }}</strong>, {{ C.mutual_betrayal_payoff_PD_p1 }}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>

    {% elif player.session.config.get('treatment') == 'staghunt'
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 3
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 4
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 2
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 7
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 8
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 6 %}
        <div class="sectionbis">
            <div class="section-header">Disagreement Stage Instructions</div>
            <p>You and your opponent will play the following game. Each of the two players has two choices, Choice 1 and Choice 2.</p>
            <ul>
                <li>If both players choose Choice 1, each player earns {{ C.both_stag_payoff }} ECU.</li>
                <li>If Player 1 chooses Choice 1 and Player 2 chooses Choice 2, Player 1 earns {{ C.stag_hare_payoff }}
                    ECU, and Player 2 earns {{ C.hare_stag_payoff_p2 }} ECU.</li>
                <li>If Player 1 chooses Choice 2 and Player 2 chooses Choice 1, Player 1 earns {{ C.hare_stag_payoff_p1 }}
                    ECU, and Player 2 earns {{ C.stag_hare_payoff }} ECU.</li>
                <li>If both players choose Choice 2, Player 1 earns {{ C.both_hare_payoff_p1 }} ECU, and Player 2 earns
                    {{ C.both_hare_payoff_p2 }} ECU.</li>
            </ul>
            <p>To make a choice during the disagreement game, you just have to click on Choice 1 or Choice 2 in the table.</p>
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th></th>
                    <th>Other's Choice 1</th>
                    <th>Other's Choice 2</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Choice 1</td>
                    <td><strong>{{ C.both_stag_payoff }}</strong>, {{ C.both_stag_payoff }}</td>
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.stag_hare_payoff }}</strong>, {{ C.hare_stag_payoff_p2 }}</td>
                    {% else %}
                        <td><strong>{{ C.stag_hare_payoff }}</strong>, {{ C.hare_stag_payoff_p1 }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Choice 2</td>
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.hare_stag_payoff_p1 }}</strong>, {{ C.stag_hare_payoff }}</td>
                    {% else %}
                        <td><strong>{{ C.hare_stag_payoff_p2 }}</strong>, {{ C.stag_hare_payoff }}</td>
                    {% endif %}
                    {% if player.id_in_group == 1 %}
                        <td><strong>{{ C.both_hare_payoff_p1 }}</strong>, {{ C.both_hare_payoff_p2 }}</td>
                    {% else %}
                        <td><strong>{{ C.both_hare_payoff_p2 }}</strong>, {{ C.both_hare_payoff_p1 }}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    {% elif player.session.config.get('treatment') == 'ultimatum'
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 4
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 2
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 3
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 1 and player.round_number == 8
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 2 and player.round_number == 6
        or player.session.config.get('treatment') == C.TEST and player.session.config.get('order') == 3 and player.round_number == 7 %}
        <div class="sectionbis">
            <div class="section-header">Disagreement Stage Instructions</div>
            <p>In the Disagreement Game, the Player 2 proposes a split of the {{ C.PIE_SIZE }} ECU between him and the
                Player 1.</p>
            <p>Then, the Player 1 receives the offer. He can either accept or reject it.</p>
            <p></p>
            <ul>
                <li>If the Player 1 accepts the offer, the {{ C.PIE_SIZE }} ECU are allocated as proposed by the
                    Player 2.</li>
                <li>If the Player 1 rejects the offer, the Player 1 receives {{ C.reject_payoff_p1 }} ECU and the
                    Player 2 receives {{ C.reject_payoff_p2 }} ECU.</li>
            </ul>
        </div>
    {% endif %}

    <h2>Payment</h2>

    <div class="section">
        <div class="section-header">Reward</div>
        <p>In the experiment, you will repeat the above negotiations. You are free to use the chat function as well.
            After the experiment ends, one round will be randomly selected by the computer from all the rounds, and
            the ECU actually earned in that round will be converted to yen, which will serve as your reward. The
            conversion rate is 1 ECU = {{ C.CONVERSION_RATE|c }} yens.</p>
        <p>To this reward, an additional participation fee of {{ player.participation_fee }} yen for participating in
            the experiment will be added, which will be your total amount received today.</p>
    </div>

    {% if  player.round_number == 1 %}
        <div class="section">
        <div class="section-header"></div>
        <p>If anyone has any questions so far, please raise your hand and let the experimenter know. If there are no
            questions, click 'Next' and answer the quiz. You must answer all questions correctly.</p>
    </div>
    {% endif %}

</div>