{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        説明
    </h3>

    <p>
        あなたは別の参加者とランダムかつ匿名でペアになっています。 一人一人が会社を代表します。 両社とも同じ製品を製造しています。
    </p>

    <p>
        二人は同時に、独立して、いくつの製品を製造するかを決定します。 0から {{ Constants.max_units_per_player }}までの任意の数を選択できます。
        生産された製品はすべて販売されますが、生産量が多いほど、販売価格は低くなります。
    </p>


    <p>
        製品の販売価格:
    </p>

    <ul>
        <strong>価格 = {{ Constants.total_capacity }} – あなたの生産量 – 相手の生産量</strong>
    </ul>

    <p>
        あなたの利益:
    </p>

    <ul>
        <strong>利益 = 価格 × あなたの生産量</strong>
    </ul>

    <p>
        この実験内においては、常に上記の式が成り立つこととします。
    </p>

</div>
</div>