{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3><center>
        実験のルール
    </center></h3>


    <p>
        あなたはもう1人の参加者とランダムかつ匿名でペアになっています。
        次のシナリオをイメージしてください。
    </p>
    <p>
        あなたと別の旅行者（もう1人の参加者）は、2人が同じ骨董品を購入した離島からちょうど戻ってきました。
        しかし、残念なことに、航空会社が骨董品を壊してしまったことを発見しました。
        航空会社のマネージャーは壊した骨董品に対して十分な補償することを約束しました。
        彼らは骨董品の本当の価値を知らずに、次のような補償計画を提案してきました。
    </p>


    <ol>
        <li>
            あなた方2人は、同時にそれぞれの骨董品の本当の値段を請求します。
            ({{ Constants.min_amount }} 円から {{ Constants.max_amount }}円まで)
        </li>

        <li>
            もしそれが同額なら、その金額が2人に支払われます。
        </li>

        <li>
            もしそれが異なった金額なら、<strong>2人には低い方の金額が支払われます。</strong>
            さらに、低い金額を請求した人には{{ Constants.adjustment_abs }}円の<font color="blue"><strong>報酬</strong></font>が支払われます。
            一方で、高い金額を請求したもう1人には{{ Constants.adjustment_abs }}円の<font color="red"><strong>ペナルティ</strong></font>が課せられます。
        </li>
    </ol>
</div>
</div>