{% load otree %}

<div class="card bg-light m-3">
<div class="card-body">
    <h3>
        Instructions(説明) 
    </h3>
    <p>
        あなたは他のプレイヤーとランダムに、かつ匿名でグループ分けされています。
   すべてのプレイヤーに同じ指示が表示されます。
    </p>

    <p>
        あなたの仕事は、オークションに出品されているアイテムを入札することです。
        入札の前に、各プレイヤーはアイテムの実際の価値の見積もりを与えられます。
        推定値は、プレイヤーによって異なる場合があります。
        すべてのプレイヤーに共通するアイテムの実際の価値は、入札後に明らかになります。
       
    </p>

    <p>
       推定値をもとに、各プレーヤーは所定の範囲内で1回の入札を行います。
すべての入札は非公開で、同時に行われます。

    </p>
        落札者は、自分の入札額を差し引いた金額をペイオフとして受け取ります。
        落札者の入札額が商品の実際の価値よりも高い場合、ペイオフはゼロとなります。
        
        2人以上のプレイヤーが同点の場合、勝者はランダムに選ばれます。

    <p>
        
    </p>
</div>
</div>
