{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        ルール説明
    </h3>
    <p>
        あなたはランダムに他の参加者とペアになります。相手が誰かはわかりません。
        ペアの1人はランダムに参加者Aとなり、もう1人は参加者Bとなります。
        あなたは質問に進む前に、参加者Aであるのか参加者Bであるのかを知ることができます。
    </p>
    <p>
        はじめに、参加者Aは {{ Constants.endowment }}を受け取りますが、参加者Bは何も受け取りません。
        参加者Aは {{ Constants.endowment }}のうちいくらか、または全てを参加者Bに送ることができます。
        参加者Bがこの額を受け取る前に、金額は{{ Constants.multiplier }}倍されます。
        参加者Bは3倍になった金額を受け取ったら、そのうちのいくらか、または、全てを参加者Aに送るかどうかを決めることができます。
    </p>
</div>
</div>