{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    ラウンド{{ subsession.round_number }} / {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    <h4>説明</h4>
    <p>
       これはマッチングペニーゲームです。プレイヤーは2名で、それぞれがコインの表か裏を選択します。プレイヤー1は互いの選択が一致した場合に勝ちとなります。プレイヤー2は互いの選択が不一致の場合に勝ちとなります。各ラウンドごとに、どちらかの役割が与えられます。

    </p>

    <p>
        
最後に、ランダムなラウンドが選ばれて支払いが行われます。
    </p>

    <p>

    <h4>今までのラウンドの結果</h4>
    <table class="table">
        <tr>
            <th>Round</th>
            <th>プレイヤーと結果</th>
        </tr>
        {% for p in player_in_previous_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>
                  あなたは{% if p.is_matcher %}互いの選択が一致した場合に勝ち{% else %}互いの選択が不一致の場合に勝ち{% endif %}
                  なので {% if p.is_winner %} 勝ち {% else %} 負け {% endif %}です
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        このラウンドでは、あなたは {% if player.is_matcher %} 互いの選択が一致した場合に勝ちとなります。 {% else %} 互いの選択が不一致の場合に勝ちとなります。 {% endif %}
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
