{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    最終結果
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <th>ラウンド</th>
            <th>プレイヤーと結果</th>
        </tr>
        {% for p in player_in_all_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>
                  あなたは {% if p.is_matcher %}互いの選択が一致した場合に勝ち{% else %}互いの選択が不一致の場合に勝ち{% endif %}
                  なので {% if p.is_winner %} 勝ち {% else %} 負け {% endif %}です。
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        ランダムに選択されたラウンドは {{ paying_round }}でした.
        あなたの利益は {{ total_payoff }}です.
    </p>

{% endblock %}
